main {
  margin-left: 220px;
}

nav {
  height: 100vh;
  position: fixed;
  z-index: 100;
  background-color: rgb(255, 255, 255);
  margin-left: 0;
  padding-left: 0;
}

.profile {
  margin-top: 45vh;
}

@media screen and (max-width: 764px) {
  main {
    margin-left: 0;
  }

  nav {
    height: max-content;
  }

  .profile {
    margin-top: 0;
  }
}

.nav-item:hover {
  background-color: #e4ebfd;
  border-radius: 0px 50px 50px 0px;
}

a,
a:hover {
  color: black;
  text-decoration: none;
}

.name {
  text-transform: capitalize;
}

.svg {
  width: 80px;
  height: 80px;
}