<div class="container">
    <section class="h-100 flip-from-top">
        <div class="container h-100">
            <div class="row justify-content-sm-center h-100">
                <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
                    <div class="card">
                        <div class="card-body p-5">
                            <h1 class="fs-4 card-title fw-bold mb-4">Join Class</h1>
                            <form action="" (ngSubmit)="getKey()" class="needs-validation" autocomplete="off"
                            [formGroup]="form1">
                                <div class="mb-3">
                                    <label class="mb-2 text-muted" for="fname">Class Key</label>
                                    <input formControlName="course_key" id="fname" type="text" class="form-control me-2"
                                        name="fname" value="" required autofocus>
                                    <div class="invalid-feedback">
                                        Class key is required
                                    </div>
                                    <button class="btn btn-outline-dark mt-4">Join</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>